{% load static %}
<aside id="header">
    <section class="profile">
        <img src="{% static "img/download.png" %}" alt="foto mateus">
        <h1>Mateus Linhares</h1>
        <div class="social-links mt-4 text-center">
            <a target="_blank" href="">
                <i class="bi bi-github"></i>
            </a>
            <a target="_blank" href="">
                <i class="bi bi-linkedin"></i>
            </a>
            <a target="_blank" href="">
                <i class="bi bi-instagram"></i>
            </a>
        </div>
    </section>
    
    <nav id="navbar" class="nav-menu">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
                <i class="bi bi-house"></i>Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="bi bi-person"></i>Sobre</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="#">
                <i class="bi bi-award-fill"></i>Habilidades</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="#"><i class="bi bi-backpack2-fill">
              </i>Curriculo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
              <i class="bi bi-book-half"></i>Portfólio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
              <i class="bi bi-envelope"></i>Contato</a>
            </li>
          </ul>
    </nav>
</aside>